<div id="chart">
  <h1>今月の支出</h1>
  <h2><%= link_to "収入詳細をみる", incomedetail_path, class: "green detail" %></h2>
  
  <div class="row-chart">
    <div class="col-md-6">
      <div class="circle">
        <h3 class="chart-title">今月の費目別支出</h3>
        <p><%= pie_chart @outgochart %></p>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="redcolor title">履歴</h2>
      <ul class="history">
        <% @outgos.each do |outgo| %>
          <li><%= outgo.date.to_date %>　<%= outgo.categories %>/<%= outgo.memo %> 　<%= outgo.amount %>円
          　<%= link_to "編集", edit_outgo_path(outgo), class: "green" %>　<%= link_to "削除", outgo_path(outgo), method: :delete, data: { confirm: 'よろしいですか？' }, class: "orange" %></li>
        <% end %>
        <li>合計　<%= @outgos.select(:amount).sum(:amount) %>円</li>
      </ul>
    </div>
  </div>
</div>


